SECRET_KEY = 'here_put_your_generated_secret_key'

DEBUG = True

TIME_ZONE = 'UTC'

BASE_URL = 'http://127.0.0.1:8000'

# DataBase

DATABASE_ENGINE = 'django.db.backends.mysql'
DATABASE_NAME = 'database_name' # database name
DATABASE_USER = 'username'
DATABASE_PASSWORD = 'password'
DATABASE_HOST = 'localhost' # database host
DATABASE_PORT = '3306' # port

# Third Party Credentials
SOCIAL_AUTH_GOOGLE_OAUTH2_KEY = 'your-client-id'
SOCIAL_AUTH_GOOGLE_OAUTH2_SECRET = 'your-client-secret'

# Firebase Notifications
SERVICE_ACCOUNT_FILE = 'just-the-file-name'
FIREBASE_POST_REQUEST_URL = 'the-url'
FIREBASE_CONFIG = {
    "apiKey": "apiKey",
    "authDomain": "authDomain",
    "projectId": "projectId",
    "storageBucket": "storageBucket",
    "messagingSenderId": "messagingSenderId",
    "appId": "appId",
}

EMAIL_HOST_USER='My_email@gmail.com'
EMAIL_HOST_PASSWORD='My_app_password_here'
DEFAULT_FROM_EMAIL='App Name'